extends layout

block content
  include nav.pug
  br
  br
  .row
    .container
      .col.s12.m4.offset-m4
        .card
          .card-image
            -var url = img
            img(src=url, style="height: 365px;")
            span.card-title= name.toUpperCase()
          .card-content(style="height: 100px;")
            p EMAIL: #{email}
            p ID-USER: #{id}


block script
  script.
    $(document).ready(function(){
      $('.sidenav').sidenav();
      loadAutoComplete();
      
    });



    function loadAutoComplete(){
      var news = !{newsJS};
      var newsJS = [];
      console.log(news)
      news.articles.forEach(function(item){
         // newsJS[''+item.source.name+''] = item.urlToImage;
         newsJS.push({
           text:item.source.name,
           img:item.urlToImage,
           url:item.url
         });
      });
      console.log("ITEM",newsJS)
      $('input.autocomplete').autocomplete({
         data: newsJS,
      });
    }

    $("#autocomplete-input").change(function(){
        var url = $("#autocomplete-input").data("url");
        console.log("URL",url)
        location.href=url;
    });

    